.container {
  display: flex;
  flex: 1;
  align-items: center;
  overflow: hidden;
  font-size: 3em;
  font-weight: 200;
  margin: 1em 0;
  padding: .25em;
  border-left: 1px solid #ddd;
}

@mixin headline($delay) {
  transform: translateX(-105%);
  animation-name: slideRight;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: #{$delay}s;
}

.headline1 {
  @include headline(0);
}
.headline2 {
  @include headline(1);
}
.headline3 {
  @include headline(2);
}

@mixin subHeadline($delay) {
  transform: translateX(-105%);
  position: absolute;
  opacity: 0;
  animation-name: cycle;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: #{$delay}s;
}

.subHeadline1 {
  @include subHeadline(5);
}
.subHeadline2 {
  @include subHeadline(10);
}
.subHeadline3 {
  @include subHeadline(15);
}
.subHeadline4 {
  @include subHeadline(20);
}

.highlight {
  font-weight: 400;
}

.focusWord {
  @extend .highlight;
  color: #55bcc9;
}

.focusNumber {
  @extend .highlight;
  color: #fc4445;
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes cycle {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  7% {
    opacity: 1;
    transform: translateX(0);
  }
  21% {
    opacity: 1;
    transform: translateX(0);
  }
  26% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}