._container_e179b {
  display: flex;
  flex: 1;
  align-items: center;
  overflow: hidden;
  font-size: 3em;
  font-weight: 200;
  margin: 1em 0;
  padding: .25em;
  border-left: 1px solid #ddd; }

._headline1_e179b {
  transform: translateX(-105%);
  animation-name: _slideRight_e179b;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0s; }

._headline2_e179b {
  transform: translateX(-105%);
  animation-name: _slideRight_e179b;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1s; }

._headline3_e179b {
  transform: translateX(-105%);
  animation-name: _slideRight_e179b;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 2s; }

._subHeadline1_e179b {
  transform: translateX(-105%);
  position: absolute;
  opacity: 0;
  animation-name: _cycle_e179b;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 5s; }

._subHeadline2_e179b {
  transform: translateX(-105%);
  position: absolute;
  opacity: 0;
  animation-name: _cycle_e179b;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 10s; }

._subHeadline3_e179b {
  transform: translateX(-105%);
  position: absolute;
  opacity: 0;
  animation-name: _cycle_e179b;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 15s; }

._subHeadline4_e179b {
  transform: translateX(-105%);
  position: absolute;
  opacity: 0;
  animation-name: _cycle_e179b;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 20s; }

._highlight_e179b, ._focusWord_e179b, ._focusNumber_e179b {
  font-weight: 400; }

._focusWord_e179b {
  color: #55bcc9; }

._focusNumber_e179b {
  color: #fc4445; }

@keyframes _slideRight_e179b {
  from {
    opacity: 0;
    transform: translateX(-100%); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes _cycle_e179b {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  7% {
    opacity: 1;
    transform: translateX(0); }
  21% {
    opacity: 1;
    transform: translateX(0); }
  26% {
    opacity: 0;
    transform: translateX(100%); }
  100% {
    opacity: 0;
    transform: translateX(100%); } }

._container_90a25 {
  width: 0;
  height: 128px;
  object-fit: cover;
  position: absolute;
  transition: all 0.5s ease;
  animation-name: _enter_90a25;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards; }

@keyframes _enter_90a25 {
  from {
    width: 0; }
  to {
    width: 128px; } }

._container_4e5a0 {
  display: flex;
  flex: 1;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  padding-right: .75em;
  z-index: 1;
  background: #ffffff; }

._container_55f8b {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex: 1;
  font-family: 'Muli', sans-serif; }


/*# sourceMappingURL=/src.a2b27638.css.map */